* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    color: #000000bb;
}

header {
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 40px;
}

label {
    color: rgb(41, 117, 241);
}

#form, #results {
    max-width: 600px;
    margin: 0 auto 40px;
    width: 90%;
    display: grid;
    gap: 10px;
}

#form {
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}

#results {
    grid-template-columns: 1fr 2fr;
}

input {
    padding: 8px;
    text-transform: uppercase;
}

option {
    color: #000000cc;
}

option[value=""][disabled] {
    display: none;
}

input::placeholder,
select:required:invalid {
    color: gray;
    text-transform: none;
}

select {
    padding: 8px;
}

span {
    padding: 8px;
}

input {
    text-align: center;
}
