html, body {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    text-align: center;
    color: #000000cc;
}

.container {
    width: 90%;
    height: auto;
    max-width: 900px;
    border-radius: 8px;
    margin: 5% auto;
    background-color:#d8e0e4;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 40px 20px;
}

h2 {
    margin: 0 20px 40px;
}

label {
    color: rgb(30, 144, 255);
}

.in, .out {
    max-width: 900px;
    margin: 0 auto;
    width: 90%;
}

.in {
    display: flex;
}

input, select {
    padding: 8px;
    width: 50%;
    border-radius: 4px;
    outline: none;
    border: none;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
}

input {
    margin-left: auto;
    margin-right: 2%;
    text-transform: uppercase;
}

select {
    margin-right: auto;
}

option {
    color: #000000cc;
}

option[value=""][disabled] {
    display: none;
}

input::placeholder,
select:required:invalid {
    color: gray;
    text-transform: none;
}

.out {
    margin: 40px auto;
}

span, .result {
    padding: 8px;
    display: inline-block;
}

.result-container {
    display: flex;
    margin-bottom: 10px;
}

span {
    width: 20%;
    margin-left: auto;
    margin-right: 2%;
    font-weight: bold;
    text-transform: uppercase;
}

.result {
    width: 80%;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    background-color: #ffffff;
    margin-right: auto;
}
